* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.person {
  background-color: #303952;
  width: 17rem;
  padding: 1.2rem;
  margin: 2rem auto;
  transition: all 0.3 linear;
  border-radius: 0.3rem;
  text-align: center;
}

.person img {
  border-radius: 40%;
  margin-right: 1.5rem;
  margin-left: 1rem;
  border: 0.1rem solid #F8EFBA;
}

.person h4 {
  text-transform: capitalize;
  margin: 0.5rem 0;
  letter-spacing: 0.1rem;
  color: #EAB543;
  line-height: 1;
}

.person:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.person p {
  font-size: 0.8rem;
  font-style: italic;
  color: #ffffff;
  text-align: justify;
}

@media screen and (min-width: 768px) {
  .person-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .person-list {
    grid-template-columns: repeat(3, 1fr);
  }
}